
#div1{
    height: 50px;
    border: 1px solid black;
    overflow: hidden;
}
#div2{
    border: 1px solid black;
    margin-top: 10px;
    height: 50px;
    overflow: scroll;
}
#div3{
    margin-top: 10px;
height: 50px;
border: 1px solid black;
overflow: auto;
}