.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hireme{
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    position: relative;

}
.text{
    position: absolute;
    
}
.hireme:hover{
    background-color: black;
    animation-name: animation;
    animation-duration: 2s;
    animation-direction: initial;
}

@keyframes animation{
 
    from{
    width: 0rem;
    }   
    to{
    width:6rem; ;
    } 
    } 